COVE_NETWORK=mainnet
COVE_V3_CANARY_ACTIVE=0
COVE_CRC_SIGNING_ACTIVE=0
COVE_DATABASE_URL=
COVE_BITCOIN_RPC_URL=
COVE_BITCOIN_RPC_USER=
COVE_BITCOIN_RPC_PASSWORD=
GUARDIAN_AUTH_TOKEN=
GUARDIAN_KEY_HEX=
COVE_FEE_ADDRESS=

COVE_RPC_REQUESTS_PER_SECOND=3
COVE_RPC_BUDGET_DATABASE_URL=
COVE_BITCOIN_RPC_API_KEY=
